.coreValues-container {
    min-height: 100vh;
    margin: auto;
    position: relative;
    isolation: isolate;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1.5fr 3fr;
    align-items: center;
}

.coreValues-title {
    font-size: 48px;
    color: #0C7FDA;
    font-weight: bold;
    text-align: left;
    margin-left: 15%;
}

.coreValues-item {
    position: relative;
    display: flex;
    isolation: isolate;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.coreValues-item::before {
    position: absolute;
    content: "";
    bottom: unset;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 0;
    transform-origin: left;
    height: 90%;
    background-color: #F3EAE5;
    border-radius: 1rem;
    z-index: -1;
    animation: show 0.75s 1.25s ease-in-out forwards;
}

@keyframes show {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 2rem);
    }
}

.coreValues-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coreValues-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.coreValues-img .img-1 {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.coreValues-img .img-2 {
    width: 190px;
    height: 190px;  
}

.img-1 img {
    transform: translate(-2rem, 2rem);
}

.img-2 img {
    transform: translate(4rem, -1rem);
}

.coreValues-text {
    padding: 80px 4rem 80px 1rem;
    text-align: justify;
    margin-inline-start: unset;
}

.coreValues-text h6 {
    font-size: 16px;
    color: #5D7285;
    font-weight: 400;
    padding-bottom: 20px;
}

.coreValues-text h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.coreValues-text p {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}



